
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: bisque;
}

.container {
  max-width: 800px;
  margin: auto;
  padding-top: 3em;
  color: blue;
}

p {
  color: black;
  margin-bottom: 40px;
}

a {
  margin: 10px;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: blue;
}

.spinner {
  margin-top: 3rem;
  width: 150px;
  height: 150px;
  border: 32px solid pink;
  border-top: 32px solid red;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
  
}