/* figure out hover colour */
body{
    font-family:Verdana, sans-serif;
    line-height:1.7em;
}

#navbar{
    font-size: 14px;
    color: #f5d026;
    background-color: #0C0DF0;
    display:block;
    unicode-bidi: border-box;
    padding-bottom: 40px;
}

ul{
    display:block;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    unicode-bidi: isolate;
}

li {
    float:left;
}

a {
    display:block;
    padding: 8px;
}

li a{
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #f5d026;
}

li a:hover {
    background-color: #23237611;
}

#navbar ul li a:hover{
    background-color: black;
}

#logo{
    float:left;
    ;
}

.active{
    background-color:black;
}

.container{
    margin:auto;
    max-width: 1100px;
    overflow:auto;
    padding: 0px, 20px, 0px, 20px;
}

/* figure out hover colour */
.imagegallery{
    font-size: 18px;
    color: black;
    border-color: #0C0DF0; 
}

/* Make sure to change 'Product enquiry form' to 18px manually */
form{
    font-size: 14px;
    color: black;
    border-color: #0C0DF0;
    background-color: #f5d026;
}

