* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  background: black;
}

/* Header Section */

h1 {
  color:magenta;
  font-size: 4rem;
}

.topRow {
  margin-top: 15px;
  margin-left: 500px;
  display: flex;
  flex-direction: row;
}

.button {
  margin-top: 10px;
  margin-left: 30px;
  background: black;
  border: solid 5px magenta;
  color: magenta;
  border-radius: 30%;
  height: 50px;
  width: 55px;
}

.button:hover {
  background: pink;
}

/* PHOTO section */

.s1heading {
  color: pink;
}

img {
  vertical-align: middle;
  float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.photos{
  position: relative;
}

.travel{
  display: none;
}

.cursor{
  cursor: pointer;
}

/* next and previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top:40%;
  width: auto;
  padding:16px;
  margin-top: -50px;
  color:white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next{
  right:0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover{
  background-color: magenta;
}

.numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

.caption-container {
  text-align: center;
  background-color: blue;
  padding: 2px 16px;
  color: blue;
}

row:after {
  content: "";
  display: table;
  clear:both; 
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active, 
.demo:hover {
  opacity: 1;
}
