* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  background: black;
}

/* Header Section */

h1 {
  color:magenta;
  font-size: 4rem;
}

.topRow {
  margin-top: 15px;
  margin-left: 500px;
  display: flex;
  flex-direction: row;
}

.button {
  margin-top: 10px;
  margin-left: 30px;
  background: black;
  border: solid 5px magenta;
  color: magenta;
  border-radius: 30%;
  height: 50px;
  width: 55px;
}

.button:hover {
  background: pink;
}

/* Photo Section */

.s2heading {
  margin-left: 180px;
  color: #ff6fff ;
  font-size: 50px;
}

img {
  vertical-align: middle;
}

.photos{
  text-align: center; 
  position: relative;
  width:30%;
  height: 40%;
}

.ss-image{
  display:none;
  padding: 10px;
  width:150%;
}

.cursor{
  cursor: grab;
}

/* next and previous buttons */
.prev,
.next {
  flex-direction: row;
  cursor: pointer;
  position: absolute;
  top:40%;
  width: 100;
  padding:6px;
  margin-top: -50px;
  color:#ff6fff;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev:hover,
.next:hover{
  background-color: pink;
}

.next{
  right:0;
  border-radius: 0 3px 3px 0;
}


.numbertext {
   color: magenta;
   font-size: 25px;
   font-weight: bold;
   padding: 8px 12px;
   position: absolute;
   top: 10px;
}

.caption-container {
  text-align: right;
  background-color: black;
  color: magenta;
  padding: 2px 16px;
  font-size: 25px;
}

.row {
  margin-left:10px;
  display: flex;
  width: 142%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}

.demo {
  opacity: 0.6;
}

.active, 
.demo:hover {
  opacity: 1;
}

