
body {
  font-family: 'Helvetica', sans-serif;
  background-color: rgb(253, 185, 255);
}
body img {
  height:1024px;
  width:768px;
  margin: 16px 0px 32px 0px;
}
.container {
  max-width: 800px;
  max-height:auto;
  margin: auto;
  align-content: center;
  text-align: center;
}
h1 {color: rgb(93, 69, 229);}

p {color: black;}

a {
  padding: 16px;
  background-color: rgb(28, 28, 28);
  color: rgb(253, 185, 255);
  text-decoration: none;
  margin:32px;
}
a:hover {
  background-color: rgb(93, 69, 229);
  color:rgb(28,28,28);
}