body {
  background-color: black;
}

.mheading{
  color: #ff0090;
  float:middle;
  text-align: center;
  font-size: 85px;
}

<!--flipbox properties--->
.flip-box {
  background-color: black;
  width: 100px;
  height: 100px;
  border: 1px solid #ff0090;
  border-radius: 25px;
  perspective: 1000px;
  font-size:smaller;
  
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotatey(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: pink;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}